In [163]:
import statsmodels.api as sm
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [164]:
df = pd.read_csv('exercise.csv')
df.head()

,User_ID,Gender,Age,Height(cm),Weight(Kg),Duration(min.),Heart_Rate,Body_Temp,Calories
0,10001159,female,67,176,74,12,103,39.6,76
1,10001607,female,34,178,79,19,96,40.6,93
2,10005485,female,38,178,77,14,82,40.5,49
3,10005630,female,39,169,66,8,90,39.6,36
4,10006441,male,23,169,73,25,102,40.7,122

In [188]:
df_drop = pd.read_csv('exercise.csv',usecols=['Age','Height(cm)','Duration(min.)','Heart_Rate'])

In [189]:
#a = {'female':1,'male':0}
#df_drop.Gender = df_drop.Gender.map(a)

In [190]:
df_drop.head()

   Age  Height(cm)  Duration(min.)  Heart_Rate
0   67         176              12         103
1   34         178              19          96
2   38         178              14          82
3   39         169               8          90
4   23         169              25         102

In [191]:
X = df_drop

y = df.Calories
X.head()

   Age  Height(cm)  Duration(min.)  Heart_Rate
0   67         176              12         103
1   34         178              19          96
2   38         178              14          82
3   39         169               8          90
4   23         169              25         102

In [192]:
model = sm.OLS(y,X).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               Calories   R-squared (uncentered):                   0.977
Model:                            OLS   Adj. R-squared (uncentered):              0.977
Method:                 Least Squares   F-statistic:                          1.581e+05
Date:                Mon, 25 Jan 2021   Prob (F-statistic):                        0.00
Time:                        18:54:41   Log-Likelihood:                         -63439.
No. Observations:               15000   AIC:                                  1.269e+05
Df Residuals:                   14996   BIC:                                  1.269e+05
Df Model:                           4
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Age                0.4471      0.008     56.341      0.000       0.432       0.463
Height(cm)        -0.3620      0.008    -47.275      0.000      -0.377      -0.347
Duration(min.)     6.7367      0.025    274.695      0.000       6.689       6.785
Heart_Rate         0.3085      0.017     18.299      0.000       0.275       0.342
==============================================================================
Omnibus:                     3176.098   Durbin-Watson:                   1.985
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9540.275
Skew:                           1.097   Prob(JB):                         0.00
Kurtosis:                       6.232   Cond. No.                         43.3
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [193]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=0)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(11250, 4)
(3750, 4)
(11250,)
(3750,)

In [194]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

lin_model = LinearRegression(fit_intercept=True)
lin_model.fit(X_train, Y_train)
y_pred = lin_model.predict(X_test)

In [195]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)
print(score)

0.9601891697630889

In [198]:
coefficients = lin_model.coef_
coefficients.shape

(4,)

In [205]:
Age = int(input('Enter the Age:'))
Height = int(input('Enter the height in cms.:'))
Duration = float(input('Enter the exercise durtion in min.:'))
Heart_rate = int(input('Enter the heart_rate in bpm:'))
readings = np.array([Age,Height,Weight,Heart_rate])

Enter the Age:20
Enter the height in cms.:178
Enter the exercise durtion in min.:90
Enter the heart_rate in bpm:120

In [206]:
a = np.sum(np.dot(readings.T,coefficients))

In [207]:
print('Calories burnt : ',a)

Calories burnt :  706.6563688448159